


body{
	background-color:rgb(255, 255, 255);
	font-size:30px;
	color:rgb(255,255, 255);
	background-image:no-repeat;
}

h1{	
	text-align:center;
}

p {

	font-family:"Pacifico"
	font-size:20px; 



